.DS_Store
venv/
__pycache__/
*.pyc
.env

# don't push the models
*.pt

# image paths
game-data/
planet-c-frames/
unlabeled-pool/
unlabeled_pool/
extracted-frames/
predictions/
visualizations/
pseudo_labels/
pseudo_images/

test/
train/
valid/
val/
runs/
weights/